<div class="footer">
  <a href="/">
    <i class="fas fa-2x fa-list-ol"></i>
  </a>
  <a href="/random">
    <i class="fas fa-2x fa-list-ul"></i>
  </a>
  <a href="/wonnojo">
    <i class="far fa-2x fa-user-circle"></i>
  </a>

</div>
