<div class="footer">
  <div class="in_chart">
    <span class="dot" style="width: 2rem; height: 2rem;"></span>
    <p>랭킹보기</p>
  </div>
  <div class="out_chart">
    <span class="dot" style="width: 2rem; height: 2rem;"></span>
    <p>랭킹보기</p>
  </div>
  <div class="sample">
    <span class="dot" style="width: 2rem; height: 2rem;"></span>
    <p>랭킹보기</p>
  </div>
</div>
