<%= render 'top' %>

<div class="container">
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="idea" style="margin-top: 0;">
      <div class="idea-info">
        <div class="idea-img">
          <span class="dot"></span>
        </div>
        <div class="idea-text">
          <h3>아이디어 제목</h3>
          <p>아이디어 설명 블라블라블라</p>
        </div>
      </div>
      <div class="vote">
        <span class="red-dot">39</span>
      </div>
    </div>
  </div>
</div>

<%= render 'menu' %>
