<%= render 'top' %>

<div class="container">
  <div class="card">
    <div class="card-info">
      <h5>아이디어 설명 블라블라블라</h5>
      <p>아이디어 제목</p>
    </div>
    <div class="card-img">
      <div class="sample-img"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-info">
      <h5>아이디어 설명 블라블라블라</h5>
      <p>아이디어 제목</p>
    </div>
    <div class="card-img">
      <div class="sample-img"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-info">
      <h5>아이디어 설명 블라블라블라</h5>
      <p>아이디어 제목</p>
    </div>
    <div class="card-img">
      <div class="sample-img"></div>
    </div>
  </div>
  <div class="card">
    <div class="card-info">
      <h5>아이디어 설명 블라블라블라</h5>
      <p>아이디어 제목</p>
    </div>
    <div class="card-img">
      <div class="sample-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
</div>
