<%= render 'top' %>

<div class="container">
  <% @teams.each do |team| %>
  <a href="<%= team.url %>" target="_blank">
    <div class="card">
      <div class="card-info">
        <h5><%= team.desc %></h5>
        <p><%= team.name %></p>
      </div>
      <div class="card-img">
        <div class="sample-img"></div>
      </div>
    </div>
  </a>
  <% end %>

  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
  <div class="row">
    <div class="slide-img">
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
      <div class="sample-slide-img"></div>
    </div>
  </div>
</div>
